*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    background-color: #f0f0f5;
}
input{
    width: 40px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ok-btn{
    width:50px;
    background-color: #333;
    outline: none;
    color: #fff;
    border:none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition:all 0.3s ease-in;
}
.ok-btn:hover{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}
.floor-lift-input{
    display: flex;
    justify-content: center;
    gap:15px;
    padding:10px;
    margin-bottom: 20px;
}
.lift-simulation{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    padding: 2px;
    margin: 30px auto;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.floor-box {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #333;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lift-button {
    border: none;
    color: #fff;
    padding: 6px 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.up-button {
    background-color: #1dc917;
    font-weight: 600;
}

.down-button {
    background-color: #f33e41;
    font-weight: 600;
}
.floor-1{
    position:relative;
}
.lift-container{
    position: absolute;
    left:65px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    align-items: center;
}
.lift-box{
    height: 60px;
    width: 50px;
    gap:30px;
    display: flex;
    justify-content: space-between;
    gap:0;
    background-color:#6636eb;
    overflow: hidden;
}
.left-door,.right-door{
    height:100%;
    width: 50%;
}
.left-door{
    background-color: rgb(236, 102, 102);
}
.right-door{
    background-color: rgb(78, 238, 78);
}